<div class="container">
  <h3>Tasks List</h3>

  <div class="tabs">
    <div class="index">
      <div autofocus tabindex="0" role="tab"
        (click)="tab=1" (keyup.enter)="tab=1"
        [ngClass]="{active: tab===1}" class="tab-button">TO-DO</div>
      <div tabindex="0" role="tab"
        (click)="tab=2" (keyup.enter)="tab=2"
        [ngClass]="{active: tab===2}" class="tab-button">DONE</div>
      <div tabindex="0" role="tab"
        (click)="tab=3" (keyup.enter)="tab=3"
        [ngClass]="{active: tab===3}" class="tab-button">ALL</div>
    </div>
    
    <div class="contents">
      <div *ngIf="tab === 1" class="content-value">         
        <app-get-todo-tasks></app-get-todo-tasks>
      </div>
      <div *ngIf="tab === 2" class="content-value"> 
        <app-get-done-tasks></app-get-done-tasks>
      </div>
      <div *ngIf="tab === 3" class="content-value"> 
        <app-get-all-tasks></app-get-all-tasks>
      </div>
    </div>
  </div>




</div>