<div class="container">
  <h3>New Task</h3>


  <div class="col-sm submit-form">
    <form  #myForm="ngForm" (ngSubmit)="submit()">

      <div class="form-group" >
        <div>
          <input type="text" class="title-textarea" id="todoTitle" name="todoTitle" value={todoTitle}
            placeholder="Title : Be concise, max 50 characters"
            required minlength="1" maxlength="50"
            [(ngModel)]="form.todoTitle" #todoTitle="ngModel">
            <!-- Title Validations error messages -->
            @if (todoTitle.invalid && (todoTitle.dirty || todoTitle.touched)) {
            <div
              class="danger-alert">
              @if (todoTitle.errors?.['required'] && this.submitted && !this.form.todoTitle) {
                <div>
                  * To-do title is required if you want to add something.
                </div>
              }
              @if (todoTitle.errors?.['maxlength']) {
                <div>
                  * To-do title must be at most 50 characters to be efficient.
                </div>
              }
            </div>
          }
          <input type="text" class="content-textarea" id="todoContent" name="todoContent" value={todoContent}
            placeholder="Content : Be concise, max 100 characters"
            required minlength="1" maxlength="100"
            [(ngModel)]="form.todoContent" #todoContent="ngModel">
          <!-- Content Validations error messages -->
          @if (todoContent.invalid && (todoContent.dirty || todoContent.touched)) {
            <div
              class="danger-alert">
              @if (todoContent.errors?.['required'] && this.submitted && !this.form.todoContent) {
                <div>
                  * To-do content is required if you want to add something.
                </div>
              }
              @if (todoContent.errors?.['maxlength']) {
                <div>
                  * To-do content must be at most 100 characters to be efficient.
                </div>
              }
            </div>
          }

        </div>
      </div>

      <div class="form-buttons">
        <button type="button" (click)="submit()" class="button-plus" [disabled]="!myForm.valid">
          <i class="fa-solid fa-plus"></i> Add
        </button>
      </div>

    </form>
  </div>

  <div class="new-task-image">
    <img src="assets/7203333_todo_list_deadline_task_icon.png" class="illustration" alt="new-task-illustration"/>
  </div>

  <div class="text-add-task">
    Total tasks registered : {{todosCount}}
  </div>

</div>
