<!-- <div class="container"> -->
<div class="m-0 max-w-[100vw] p-0">
  <h3 class="mb-[20px] font-extrabold">New Task</h3>


  <div class="col-sm submit-form">
    <form  #myForm="ngForm" (ngSubmit)="submit()">

      <div>
        <div>
          <label for="task-title">Title</label>
          <input type="text" 
            id="todoTitle" name="todoTitle" value={todoTitle}
            class="border border-default-medium rounded-4xl
            w-[100%] h-[50px] px-[15px] mb-[10px] 
            text-brand-violet text-sm"
            placeholder="Be concise, max 50 characters"
            required minlength="1" maxlength="50"
            [(ngModel)]="form.todoTitle" #todoTitle="ngModel">
          <!-- Title Validations error messages --> 
            @if (todoTitle.invalid && (todoTitle.touched || submitted)) {
              @if (todoTitle.errors?.['required']) {
                <div class="text-[#E4264E] text-sm mb-[10px]">
                  * To-do title is required if you want to add something.
                </div>
              }            
          }
          <label for="task-content">Content</label>
          <input type="text"
            id="todoContent" name="todoContent" value={todoContent}
            class="border border-default-medium rounded-4xl
            w-[100%] h-[50px] px-[15px] mb-[10px] 
            text-brand-violet text-sm" 
            placeholder="Be concise, max 100 characters"
            required minlength="1" maxlength="100"
            [(ngModel)]="form.todoContent" #todoContent="ngModel">
          <!-- Content Validations error messages -->
          @if (todoContent.invalid && (todoContent.dirty || todoContent.touched)) {
              @if (todoContent.errors?.['required'] && !this.form.todoContent) {
                <div class="text-[#E4264E] text-sm mb-[10px]">
                  * To-do content is required if you want to add something.
                </div>
              }
          }
        </div>
      </div>

      <div class="mt-[30px]">
        <button type="button" (click)="submit()" 
        class="block w-full px-[50px] py-[10px] bg-brand-violet rounded-[5px] text-white text-base font-bold cursor-pointer" 
        [disabled]="!myForm.valid">
          <i class="fa-solid fa-plus"></i> Add
        </button>
      </div>

    </form>
  </div>

  <div class="justify-items-center">
    <img src="assets/7203333_todo_list_deadline_task_icon.png" 
    class="block pt-[100px] mx-auto" 
    alt="new-task-illustration"/>
  </div>

  <div class="text-center p-[10px]">
    Total tasks registered : {{ todosCount$ | async }}
  </div>

</div>
