<h3>New Task</h3>


<div class="col-sm submit-form">
  <form  #myForm="ngForm" (ngSubmit)="submit()">

    <div class="form-group" >
      <div>
        <input type="text" class="content-textarea" id="todoContent" name="todoContent" value={todoContent}
               required minlength="1" maxlength="50"
               [(ngModel)]="form.todoContent" #todoContent="ngModel">
        <!-- Validations error messages -->
        <div *ngIf="todoContent.invalid && (todoContent.dirty || todoContent.touched)"
             class="danger-alert">
          <div *ngIf="todoContent.errors?.['required']">
            * To-do content is required.
          </div>
          <div *ngIf="todoContent.errors?.['maxlength']">
            * To-do content must be at most 50 characters
          </div>
        </div>

      </div>
    </div>

    <div class="form-buttons">
      <button type="submit" class="btn btn-dark" [disabled]="!myForm.valid">Send</button>
    </div>

  </form>
</div>
