<div class="container">
  <h3>Tasks List</h3>

  <div class="tabs">
    <div class="index">
      <div tabindex="0" role="tab"
        (click)="changeTab(3)" (keyup.enter)="tab=3"
      [ngClass]="{active: tab===3}" class="tab-button">ALL</div>
      <div tabindex="0" role="tab"
        (click)="changeTab(1)" (keyup.enter)="tab=1"
      [ngClass]="{active: tab===1}" class="tab-button">TO-DO</div>
      <div tabindex="0" role="tab"
        (click)="changeTab(2)" (keyup.enter)="tab=2"
      [ngClass]="{active: tab===2}" class="tab-button">DONE</div>
    </div>

    <div class="contents">
      <div>        
        <ul>
          @for (todo of todosArray; track todo._id; let i = $index) {
            <li>
              <div class="row">
                <div class="column-icon">
                  <input type="checkbox" [checked]="todo.isDone" (change)="onCheckboxChange(todo._id.toString(), $event.target.checked)" class="checkbox"/>
                </div>
                <div class="column-title">
                  <textarea
                    #titletextarea
                    maxlength="50"
                    class="update-title"
                    [(ngModel)]="todo.title"
                    (input)="autoResize(titletextarea)"
                    (keydown.enter)="onSubmitTitle(todo._id, todo.title); $event.preventDefault()"
                    (blur)="contentLostFocus()">
                  </textarea>
                </div>
                <div class="column-icon">
                  <button (click)="deleteTodos(todo._id)" class="trash-button">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
                  <textarea
                    #contenttextarea
                    maxlength="100"
                    class="update-content"
                    [(ngModel)]="todo.content"
                    (input)="autoResize(contenttextarea)"
                    (keydown.enter)="onSubmitContent(todo._id, todo.content); $event.preventDefault()"
                    (blur)="contentLostFocus()">
                  </textarea>
              </div>
            </li>
          }
        </ul>
      </div>

    </div>
  </div>

</div>
