@use './app/scss/base.scss' as *;
@use "tailwindcss";

html, body { height: 100%; width: 100%;}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;;
  background-color: #F7F7F7;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@theme {
  --color-brand-violet: #774898;
  --color-brand-silver: #BBB;
  --color-brand-blue: #26ADE4;
  --color-brand-snow: #fff;
  --color-brand-ocean: #00379a;
  --color-brand-yellow: #FEC403;
  --color-brand-cloud: #F7F7F7;
}
